body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  height: 100vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#root {
  display: flex;
  flex-direction: column;
}
.container-main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  width: 100%;
  margin-top: 20px;
}

.main {
  margin-left: 250px;
  padding: 0px 10px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  height: 100vh;
  /*align-items: center;  Centrado vertical */
  justify-content: center; /* Centrado horizontal */
}




